In [15]:
#Function to print  all combinations of pairs of integers in a unique list 

#[1,2,3]-->(1,2),(1,3),(2,3)  -->3C2  -->3!/(3-2)! * 2!

#[1,2,3,4]-->(1,2),(1,3),(1,4),(2,3),(2,4),(3,4)



def combinations(li):
    for i in range(len(li)-2):
        for j in range(i+1,len(li)-1):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[k])
    
    
    
    
    
    
    
combinations([1,2,3,4,5])

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [12]:
def solution(li,k):
    count=1
    while True:
        li3=differencepairs(li)
        if li3[0]==li3[1]:
            break
    if len(li3[0])>=k:
        return sorted(li3[0],reverse=True) [k-1]
    return -1

#Function to identify all difference of all pairs of numbers and add those differences to the same list and it returns the updated list and original list

def differencepairs(li):
    cli=li[:]
    newelements=[]
    
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d = abs(int(li[i])-int(li[j]))
            if d not in li and d not in newelements :
                newelements.append(str(d))
    li.extend(newelements)
    return [cli, li]
li=[1,9,8,7]
with open('DataFiles/solution.txt','r')as f:
    t=int(f.readline())
    for i in range(t):
        li=f.readline().split()
        k=int(f.readline())
        solution(li,k)

ValueError: invalid literal for int() with base 10: '14575 36426 79445 48772 90081 33447 90629 3497 47202 7775 94325 63982 4784 68417 2156 31932 35902 95728 78537 23857 30739 86918 29211 39679 38506 63340 86568 61868 60016 87940 96263 24593 1449 36991

# Set-Data Structure in python

Represented by '{}'

In [22]:
z={1,2,3,4,5,5,10,5,11,8}
z.add(6)  #Adding single element to a set
for i in z:  #Accesing elements
    print(i,end= ' ')

li=[77,88,99]    
    
    

a.update(li)  #adding multiple elements
a

1 2 3 4 5 6 8 10 11

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 77, 88, 99}

In [23]:
a.discard(77)  #to delete one value
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 88, 99}

In [24]:
a.discard(101)
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 88, 99}

In [35]:
a={10,1,2,3,5,4,6}
b={7,8,9,1,2,3}
c={111,123}
#a.union(b)
a.intersection(b)

{1, 2, 3}

In [36]:
a.isdisjoint(c)

True

In [38]:
a-b #All elements of a which are not in b

{4, 5, 6, 10}

In [39]:
b-a #All elements of a which are not in a

{7, 8, 9}

In [40]:
c-a

{111, 123}

In [41]:
sorted(a)  #Converts into list

[1, 2, 3, 4, 5, 6, 10]

In [43]:
set(a)

{1, 2, 3, 4, 5, 6, 10}

In [44]:
a ^ b     #Elements either in a or in b nothing but uncommon elements

{4, 5, 6, 7, 8, 9, 10}

In [46]:
d=set()  #to create a empty set

l=[5,6,4,3,5,7,6,5,4,5,7]
l=set(l)
l

{3, 4, 5, 6, 7}

Procedural : c
    
object oriented : Java ,Python
    
Scripting : PHP,Python,Javascript, shell,perl
    
Functional : Python, Haskell, Scala
    
Logic : Prolog,Lisp

# List Comprehensions

In [48]:
# List of n natural numbers in a list
s=1
e=10
l=[]
for i in range(s,e+1):
    l.append(i)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [50]:
h=[i for i in range(1,11)]
h

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
#Apply list comprehension to store the cubes of n natural numbers

g=[i**3 for i in range(1,11)]
g

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [58]:
#Function to calculate the factorial

def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1)
    
factorial(5)

#Apply list comprehension to calculate factorial of n natural number
n=45
fact=[factorial(i)for i in range(1,n+1)]
fact

[1,
 2,
 6,
 24,
 120,
 720,
 5040,
 40320,
 362880,
 3628800,
 39916800,
 479001600,
 6227020800,
 87178291200,
 1307674368000,
 20922789888000,
 355687428096000,
 6402373705728000,
 121645100408832000,
 2432902008176640000,
 51090942171709440000,
 1124000727777607680000,
 25852016738884976640000,
 620448401733239439360000,
 15511210043330985984000000,
 403291461126605635584000000,
 10888869450418352160768000000,
 304888344611713860501504000000,
 8841761993739701954543616000000,
 265252859812191058636308480000000,
 8222838654177922817725562880000000,
 263130836933693530167218012160000000,
 8683317618811886495518194401280000000,
 295232799039604140847618609643520000000,
 10333147966386144929666651337523200000000,
 371993326789901217467999448150835200000000,
 13763753091226345046315979581580902400000000,
 523022617466601111760007224100074291200000000,
 20397882081197443358640281739902897356800000000,
 815915283247897734345611269596115894272000000000,
 33452526613163807108170062053440751665152000000000,
 1405006117752879898543142606244511569936384000000000,
 60415263063373835637355132068513997507264512000000000,
 2658271574788448768043625811014615890319638528000000000,
 119622220865480194561963161495657715064383733760000000000]

In [65]:
#store cummulative sum of numbers till n in a list

#n=3      [1,3,6]
def cum(n):
    z=0
    for i in range(1,n+1):
        z=z+i
    return z
n=5
d=[sum(range(1,i+1))for i in range(1,n+1)]
d

[1, 3, 6, 10, 15]

In [70]:
#List Comprehension to store only leap years in a given time period

        
s=2000
e=2020
count=[i for i in range(s,e+1)if i%400==0 or (i%100!=0 and i % 4==0)]
count

[2000, 2004, 2008, 2012, 2016, 2020]

In [90]:
li=[1,2,3,2,1,5,5,5]
li.sort()
unique=[]
unique=[li[i] for i in range(0,len(li)-1) if (li)[i]!=(li)[i+1]]
unique

[1, 2, 3]

# Iterators

Iterable --Strings,Lists,Tuples,Sets,Dictionaries


Convert Iterable to Iterator-->


For loop:



Iterator:can stop at any point

In [98]:
it=iter("Harideep")
print(next(it))

# next(it)
# next(it)

H

# Generator

        --->Generator is a Function

In [116]:
def generator():
    n = 3
    for i in range(1,5):
        n **= 3
        yield n
a=generator()
next(a)
next(a)
next(a)
next(a)

443426488243037769948249630619149892803